.inputField {
    font-size: 1.2rem;
      font-family: 'TeXGyreAdventor-Regular';
      border: none;
      text-align: center;
      color: rgb(255,255,255);
      background: rgba(168,48,75,1);
      
      padding-bottom: 0.2rem;
      box-shadow:0;
      margin:0;
      width:25rem;
}