<div class="container-fluid ">
    <div class="row">
        <div class="col"></div>
        <div class="col fixed-content no-gutters relative ">
               
                        <img class="ed-logo-icon" src="/assets/img/Dave.svg">
                
            <div class="row no-gutters ">


                <div class="col-12">
                    <div class="row no-gutters ">

                        <div class="col-11">
                            <div class="comment">
                                <div class="bubble">
                                    <div class="row no-gutters ">
                                        <div class="col-2">
                                            <div class="yhc-icon-clear"><img class="yhc-icon"
                                                    src="/assets/img/YouHaveChosen.svg"></div>
                                        </div>
 
                                        <div class="col-1">
                                            &nbsp;
                                        </div>
                                        <div class="col-2">
                                            <div class="yhc-icon-clear"><img class="service-icon"
                                                    src="/assets/img/ShortLetManagement.svg"></div>
                                        </div>
                                        <div class="col-1">
                                            &nbsp;
                                        </div>
                                        <div class="col-3">
                                            <div class="yhc-icon-clear"><img class="home-cleaning-icon"
                                                    src="/assets/img/HomeCleaning.svg"></div>
                                        </div>

                                        <div class="col-3">
                                            <div class="yhc-icon-clear"><img class="home-removals-icon"
                                                    src="/assets/svg/Home Removals Anim.svg"></div>
                                        </div>

                                    </div>
                                    <div class="row no-gutters ">
                                        <div class="col-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-1">
                                            &nbsp;
                                        </div>
                                        <div class="col-3">
                                            <div class=""><span class="services-text-color slm-text">Short Let
                                                    Management</span></div>
                                        </div>

                                        <div class="col-3">
                                            <div class=""><span class="services-text-color hc-text">Home
                                                    Cleaning</span></div>
                                        </div>

                                        <div class="col-3">
                                            <div class=""><span class=" services-text-color hr-text">Home
                                                    Removals</span></div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row no-gutters ed-padding ed-logo">
                        
                        <div class="col-12">
                            <div class="align-left">
                                <div class="ed-icon-main" [inlineSVG]="'/assets/img/EasyDaveDash.svg'"></div>
                            </div>
                            
                            <div class="align-left-wop">
                                <p class="lb">London's best</p>
                                <p class="lbs">home cleaning services</p>

                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container-fluid ">
<div  [@routeAnimations]="prepareRoute(cleaningoutlet)">
        <router-outlet #cleaningoutlet="outlet"></router-outlet>

</div>
</div>
