.content {
  background-color: rgb(216, 92, 125);
  padding-top: 26px;
  padding-bottom: 153px;
}
.el-icon {
  display: inline-block;
  width: 100px;
}
.el-text {
  display: inline-block;
  width: 100px;
  height: 50px;
  font-family: "TeXGyreAdventor-Regular";
  color: #fff;
  font-weight: 100;
}
.el-email {
  display: block;
  position: relative;
}

.pl-2r {
  padding-left: 2rem;
}
.pr-2r {
  padding-right: 1.6rem;
}

.pl-1r {
  padding-left: 1rem;
}

.w-200 {
  width: 260px;
}
.pl-3r {
  padding-left: 3rem;
}

.pl-36r {
  padding-left: 3.6rem;
}

.pl-4r {
  padding-left: 4rem;
}
.align-left {
  float: left;
  padding-left: 2rem;
}

.align-right {
  float: right;
  padding-right: 3rem;
}

.align-center {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-content: center;
  text-align: center;
}

.inputField {
  height: 63px;
  display: inline-block;
  box-sizing: content-box;
  padding-left: 13px;
  padding-top: 3px;
  padding-bottom: 17px;
  padding-right: 13px;
  border: none;
  width: 31.1rem;
  border-radius: 8px;
  text-overflow: clip;

  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: skewX(-10.5deg);
  transform: skewX(-10.5deg);
  background-color: rgb(184, 30, 73);
  background-color: rgba(184, 30, 73, 1);
}

.inputButton {
  display: inline-block;
  box-sizing: content-box;
  padding-left: 0.9rem;
  letter-spacing: -0.05rem;
  border: none;
  border-radius: 5px;
  text-overflow: clip;

  background-color: #b81e49;
  clear: both;
  -webkit-transform: skewX(-10.5deg);
  transform: skewX(-10.5deg);
  height: 1.4rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: skewX(-10.5deg);
  transform: skewX(-10.5deg);
  padding-top: 0.17rem;
  height: 2.6rem;
  width: 12.7rem;
}
.inputField input {
  font-size: 1.2rem;
  font-family: "TeXGyreAdventor-Regular";
  border: none;
  text-align: center;
  color: #fcd2b2;

  padding-left: 1rem;
  padding-bottom: 0rem;
  box-shadow: 0;
  margin: 0;
  width: 25rem;
}
.golden-border {
  border-bottom: 1px solid #fdd2af;
  height: 39px;
}
.inputField2::placeholder {
  color: #fff;
  opacity: 1;
}

input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
input:focus::-webkit-input-placeholder {
  color: rgb(197, 140, 152);
}

/* Firefox < 19 */
input:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
input:focus:-moz-placeholder {
  color: rgb(197, 140, 152);
}

/* Firefox > 19 */
input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
input:focus::-moz-placeholder {
  color: rgb(197, 140, 152);
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
  color: #fff;
}
input:focus:-ms-input-placeholder {
  color: rgb(197, 140, 152);
}

.inputTextOver {
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  font-family: "TeXGyreAdventor-Bold";
  color: #fff;
  margin-left: -0.89rem;
  //overflow: hidden;
}

.textOver {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #fdd2af;
  line-height: 0.3rem;
  margin: 5px 0 0px;
}
.textOver span {
  padding: 0 10px;
  background-color: #b81e49;
}

.gold-text {
  color: #fcd2b2;
}

.inputButton button {
  margin-top: 0.07rem;
  padding-left: 0rem;
  font-size: 1.28rem;
  padding-top: 0rem;
  font-family: "TeXGyreAdventor-Bold";
  border: none;
  color: white;
  background-color: transparent;
  box-shadow: 0;
  /* margin: 0; */
  //background-color: #b81e49;
}

.inputButton button::after,
.inputField input::after {
  clear: both;
}

.clear-transformation {
  -webkit-transform: skewX(10.5deg);
  transform: skewX(10.5deg);
}

.inputField:focus,
.inputField input:focus {
  outline: none;
}

.services-icons {
  height: 2.8rem;
}

.padding-service-icons {
  padding-top: 0.9rem;
}

.e-link {
  font-size: 0.8rem;
  font-family: "TeXGyreAdventor-Regular";
  color: #fcd2b2;
}

.ed-icon-main {
  height: 5.8rem;
  padding-left: 2.6rem;
}

.ed-padding {
  padding-top: 3rem;
}

.lb {
  font-family: "TeXGyreAdventor-Italic";
  color: #fff;
  font-size: 2rem;
}

.align-left-wop {
  float: left;
  padding-left: 1rem;
  padding-top: 0.1rem;
}

.padding-forms {
  padding-top: 0;
}

.location-icon {
  height: 21px;
  padding-left: 2px;
}
.arrow-botton {
  height: 0.95rem;
  padding-left: 0rem;
  padding-bottom: 0.1rem;
  padding-top: 0.06rem;
  transition: transform 0.8s;
}

.inputButtonNotify:hover .arrow-botton {
  // height: 0.95rem;
  // padding-left: 0.3rem;
  // padding-bottom: 0.1rem;
  // padding-top: 0.06rem;
  transform: translate(5px, 0px);
}

.inputButton:hover {
  .arrow-botton {
   
    transform: translate(5px, 0px);
  }
}
.padding {
  padding-top: 1.5rem;
  margin-left: 6.4rem;
}

.form-padding {
  margin-top: 0.8rem;
}

.fss-padding {
  margin-left: 6.2rem;
  margin-top: 1.2rem;
}

.fss-button-padding {
  margin-right: 7.37rem;
  float: right;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}
.mat-stepper-horizontal,
.mat-stepper-vertical {
  background-color: transparent;
}

.padding2 {
  padding-top: 1.4rem;
  margin-left: 6.3rem;
}

.padding-email {
  padding-top: 3.9rem;
  margin-left: 6.5rem;
}

.email-icon-quote {
  height: 4.4rem;
}

.inputField2 input {
  font-size: 1.2rem;
  font-family: "TeXGyreAdventor-Regular";
  border: none;
  text-align: center;
  //color: #fcd2b2;
  color:#fdd2af;
  background-color: rgb(184, 30, 73);
  background-color: rgba(184, 30, 73, 1);
  padding-left: 1rem;
  margin: 0;

  width: 26.7rem;
  &:focus {
    color: #fff;
  }
  
}
.inputField2 input:invalid {
  color:#fff;
}

.inputField2 {
  height: 57px;
  display: inline-block;
  box-sizing: content-box;
  padding-left: 13px;
  padding-top: 10px;
  padding-bottom: 17px;
  padding-right: 13px;
  border: none;
  width: 31.1rem;
  border-radius: 8px;
  text-overflow: clip;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: skewX(-10.5deg);
  transform: skewX(-10.5deg);
  background-color: rgb(184, 30, 73);
  background-color: rgba(184, 30, 73, 1);
}
.golden-border2 {
  border-bottom: 1px solid #fdd2af;
  height: 39px;
  margin-bottom: 0.3rem;
}
.inputField2 input::placeholder {
  color: #fff;
}

.fss-padding2 {
  margin-left: 6.1rem;
  margin-top: 1rem;
}

.inputButtonNext {
  display: inline-block;
  box-sizing: content-box;
  padding-left: 1.2rem;
  letter-spacing: -0.05rem;
  border: none;
  width: 5.5rem;
  border-radius: 8px;
  text-overflow: clip;
  background-color: rgb(184, 30, 73);
  background-color: rgba(184, 30, 73, 1);
  clear: both;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: skewX(-10.5deg);
  transform: skewX(-10.5deg);
  height: 1.4rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: skewX(-10.5deg);
  transform: skewX(-10.5deg);
  padding-top: 0.27rem;
  height: 2.5rem;
  text-align: left;
  margin-right: 5.2rem;
}

.inputButtonBack {
  text-align: left;
  display: inline-block;
  box-sizing: content-box;
  padding-left: 1.2rem;
  letter-spacing: -0.05rem;
  border: none;
  width: 5.5rem;
  border-radius: 8px;
  text-overflow: clip;
  background-color: rgb(184, 30, 73);
  background-color: rgba(184, 30, 73, 1);
  clear: both;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: skewX(-10.5deg);
  transform: skewX(-10.5deg);
  height: 1.4rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: skewX(-10.5deg);
  transform: skewX(-10.5deg);
  padding-top: 0.27rem;
  height: 2.5rem;
  margin-right: 0.9rem;
}

.inputButtonNew {
  text-align: center;
  display: inline-block;
  box-sizing: content-box;
  padding-left: 1.2rem;
  letter-spacing: -0.05rem;
  border: none;
  width: 3.3rem;
  border-radius: 8px;
  text-overflow: clip;
  background-color: rgb(184, 30, 73);
  background-color: rgba(184, 30, 73, 1);
  clear: both;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: skewX(-10.5deg);
  transform: skewX(-10.5deg);
  height: 1.4rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: skewX(-10.5deg);
  transform: skewX(-10.5deg);
  padding-top: 0.27rem;
  height: 2.5rem;
  margin-right: 0.9rem;
}

.back-button-padding {
  margin-top: 1rem;
}

.new-button-padding {
  margin-top: 1rem;
}

.next-button-padding {
  margin-top: 1rem;
}
.buttons2 {
  width: 100%;
  float: right;
  text-align: right;
  margin-right: 2.2rem;
}

.inputButtonBack button,
.inputButtonNext button,
.inputButtonNew button {
  padding-left: 0.36rem;
  font-size: 1.15rem;
  font-family: "TeXGyreAdventor-Bold";
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(184, 30, 73);
  background-color: rgba(184, 30, 73, 1);
  padding: 0;
  box-shadow: 0;
  margin: 0;
  float: center;
}

.inputButtonBack button::after,
.inputButtonNext button::after {
  clear: both;
}

:host /deep/ .invisible-tabs {
  .mat-tab-header {
    display: none !important;
  }
}

.quote {
  font-size: 0.9rem;
  font-family: "TeXGyreAdventor-Bold";
  border: none;
  color: white;
  padding-left: 2.5rem;
  letter-spacing: 0.03rem;
}
.prequote {
  padding-top: 0;
}

.toggle-button-text {
  line-height: 22px;
  font-size: 1.1rem;
  margin-left: 0.9rem;
  margin-top: 0.47rem;
  letter-spacing: 0.019rem;
}

.toggle-button-text-2 {
  line-height: 22px;
  font-size: 1.1rem;
  margin-left: 0.6rem;
  margin-top: 0.47rem;
  letter-spacing: 0.019rem;
}
.confirm-icon {
  vertical-align: top;
  margin-left: 0.39rem;
  margin-top: 0.16rem;
}

.confirm-icon2 {
  vertical-align: top;
  margin-left: 0.1rem;
  margin-top: 0.16rem;
}

.confirm-element {
  width: 1.1rem;
}

.contact-shortly {
  font-size: 1.107rem;
  font-family: "TeXGyreAdventor-Bold";
  border: none;
  color: white;

  letter-spacing: 0.03rem;
}

.contact-container {
  padding-left: 0.8rem;
  padding-top: 1.4rem;
}

.inputButtonNotify {
  display: inline-block;
  box-sizing: content-box;
  padding-left: 0.9rem;
  letter-spacing: -0.05rem;
  border: none;
  border-radius: 5px;
  text-overflow: clip;
  background-color: #b81e49;
  background-color: #b81e49;
  clear: both;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: skewX(-10.5deg);
  transform: skewX(-10.5deg);
  height: 1.4rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: skewX(-10.5deg);
  transform: skewX(-10.5deg);
  padding-top: 0.17rem;
  height: 2.6rem;
  width: 8.5rem;
  
}

.inputButtonNotify button {
  padding-left: 0rem;
  font-size: 1.27rem;
  font-family: "TeXGyreAdventor-Bold";
  border: none;
  color: white;
  background-color: #b81e49;
  background-color: transparent;
  /* padding: 0; */
  box-shadow: 0;
  /* margin: 0; */
}

.inputButtonNotify button::after {
  clear: both;
}

.inputButtonReturn button {
  padding-left: 0.36rem;
  font-size: 1.25rem;
  font-family: "TeXGyreAdventor-Bold";
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(184, 30, 73);
  background-color: rgba(184, 30, 73, 1);
  padding: 0;
  box-shadow: 0;
  margin: 0;
  float: center;
}

.inputButtonReturn {
  display: inline-block;
  box-sizing: content-box;
  padding-left: 1rem;
  letter-spacing: -0.05rem;
  border: none;
  border-radius: 8px;
  text-overflow: clip;
  background-color: rgb(184, 30, 73);
  background-color: rgba(184, 30, 73, 1);
  margin-left: 1.8rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: skewX(-10.5deg);
  transform: skewX(-10.5deg);
  height: 1.4rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: skewX(-10.5deg);
  transform: skewX(-10.5deg);
  padding-top: 0.27rem;
  height: 2.5rem;
  width: 17.6rem;
  margin-top: 0rem;
  /* margin-left: 1rem; */
}

.inputButtonReturn button {
  padding-left: 0.36rem;
  font-size: 1.25rem;
  font-family: "TeXGyreAdventor-Bold";
  border: none;
  color: white;
  background: transparent;
  padding-left: 0.8rem;
  /* box-shadow: 0; */
  margin: 0;
  /* float: center; */
  letter-spacing: 0.01rem;
}

.inputButtonReturn button::after {
  clear: both;
}

.fss-button-padding-return {
  margin-right: 2.2rem;
  //float: right;
}

.new-button {
  height: 2.2rem;
  padding-bottom: 0.2rem;
  padding-right: 1rem;
  margin-left: 0.6rem;
}

.included {
  margin-top: 0.6rem;
  font-size: 1.044rem;
  font-family: "TeXGyreAdventor-Bold";
  border: none;
  color: white;
  letter-spacing: 0.01rem;
  padding-left: 2rem;
}

.included a:hover {
  text-decoration: underline;
  text-underline-position: below 3px;
  text-decoration-color: #fcd2b2;
}

:host /deep/ .mat-tab-body-content {
  overflow: hidden !important;
  height: 235px !important;
}

.input-placeholder {
  position: relative;
}
.input-placeholder input {
  padding: 2px;
  text-align: center;
}
.input-placeholder input:valid + .placeholder {
  display: none;
}
.placeholder {
  position: absolute;
  pointer-events: none;
  top: 6px;
  bottom: 2px;
  left: 4px;
  margin: auto;
  color: #fff;
  width: 100%;
  font-size: 1.2rem;
  font-family: "TeXGyreAdventor-Regular";
}
.placeholder span {
  color: #fcd2b2;
}

.placeholder::focus {
  color: rgb(197, 140, 152);
}

input {
  &:focus {
    & + .placeholder {
      opacity: 0.5;
    }
  }
}

