<mat-tab-group class="invisible-tabs" [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChanged($event)">
  <mat-tab>
    <div class="container-fluid ">
      <div class="row">
        <div class="col"></div>
        <div class="col fixed-content no-gutters">
          <div class="row no-gutters padding-forms">
            <div class="col-2">
              &nbsp;
            </div>
            <div class="col-9">
              <div class="form-padding">
                <form>
                  <div class="padding" style="padding-left:1rem;">
                    <div class="inputField">
                      <div class="">
                        <div class="clear-transformation">
                          <div class="inputTextOver">
                            <span class="gold-text" style="text-decoration-line: line-through;">
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                            &nbsp;&nbsp;Make your selection&nbsp;
                            <span class="gold-text" style="text-decoration-line: line-through;">
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                          </div>

                        </div>
                      </div>
                      <div class="">
                        <div class="clear-transformation">
                          <mat-button-toggle-group #group="matButtonToggleGroup" value="unselected">
                            <mat-button-toggle value="unselected" disableRipple class="landing-button">
                              <div class="landing-icon1" [inlineSVG]="'/assets/img/Loading & Unloading (gold).svg'"
                                style="float: left;">
                              </div>
                              <div class="toggle-button-text" style="float: left;">
                                I'd like to receive<br>
                                a removal quote
                              </div>
                              <div class="confirm-element" style="float: left; width:1.1rem;">
                                <div [hidden]="group.value!=='unselected'">
                                  <img class="confirm-icon" height="26px" src="/assets/img/ConfirmInCircleGold.svg">
                                </div>
                              </div>
                            </mat-button-toggle>
                            <mat-button-toggle value="selected" disableRipple class="landing-button">
                              <div class="landing-icon2" [inlineSVG]="'/assets/svg/Launch (white).svg'"
                                style="float: left;">
                              </div>
                              <div class="toggle-button-text-2" style="float: left;">
                                Notify me about<br>
                                EasyDave launch
                              </div>
                              <div class="confirm-element" style="float: left; width:1.1rem;">
                                <div [hidden]="group.value!=='selected'">
                                  <img class="confirm-icon" height="26px" src="/assets/img/ConfirmInCircleGold.svg">
                                </div>
                              </div>
                            </mat-button-toggle>
                          </mat-button-toggle-group>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fss-padding">
                    <div class="inputField2">
                      <div class="golden-border">
                        <div class="clear-transformation">
                          <label class="">
                            <span matPrefix><img class="location-icon" height="26px"
                                src="/assets/img/EmailAddressGold.svg">
                              &nbsp;</span>
                            <input type="email" matInput placeholder="e.g. dave@easydave.co" [formControl]="email"
                              required />
                            <span [hidden]="email.errors" matSuffix><img class="location-icon" height="26px"
                                src="/assets/img/ConfirmInCircleGold.svg"> &nbsp;</span>

                          </label>
                        </div>
                      </div>
                      <div class="prequote clear-transformation" style="text-align: center;">
                        <span class="quote">Enter your email address</span>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
            <div class="col-1">
              &nbsp;
            </div>
          </div>
          <br>
        </div>
        <div class="col"></div>
      </div>
    </div>

  </mat-tab>
  <mat-tab >
    <div class="container-fluid " style="min-height: 252px;">
      <div class="row">
        <div class="col"></div>
        <div class="col fixed-content no-gutters">
          <div class="row no-gutters padding-forms">
            <div class="col-2">
              &nbsp;
            </div>
            <div class="col-9">
              <div class="form-padding">

                <div class="padding-email" style="padding-left:1rem;" [hidden]="group.value!=='unselected'">

                  <div style="float: left;">
                    <img class="email-icon-quote" src="assets/img/Email.svg">
                  </div>
                  <div class="contact-container" style="float: left;">
                    <span class="contact-shortly">We'll contact you shortly at the email <br>
                      address provided</span>
                  </div>

                </div>
                <div class="padding-email" style="padding-left:1rem;" [hidden]="group.value!=='selected'">

                  <div style="float: left;">
                    <img class="email-icon-quote" src="assets/svg/Newsletter (gold).svg">
                  </div>
                  <div class="contact-container" style="float: left;">
                    <span class="contact-shortly">We'll keep you up to date with latest news <br>
                      on the easyDave launch</span>
                  </div>

                </div>

              </div>
            </div>
            <div class="col-1">
              &nbsp;
            </div>
          </div>
          <br>
        </div>
        <div class="col"></div>
      </div>
    </div>


  </mat-tab>

</mat-tab-group>
<div class="container-fluid ">
  <div class="row">
    <div class="col"></div>
    <div class="col fixed-content no-gutters">
      <div class="row no-gutters padding-forms">
        <div class="col-2">
          &nbsp;
        </div>
        <div class="col-9">
          <div class="f">
            <div>
              <div class="inputButton fss-button-padding" *ngIf="selectedIndex===0 && group.value==='unselected'">
                <div class="clear-transformation">
                  <button type="submit" (click)="nextStep(group.value,email.value)">Requrest a quote <img
                      class="arrow-botton" src="/assets/img/ArrowToRight.svg"> </button>
                </div>
              </div>
              <div class="inputButtonNotify fss-button-padding" *ngIf="selectedIndex===0 && group.value==='selected'">
                <div class="clear-transformation">
                  <button type="submit" (click)="nextStep(group.value,email.value)">Notify me <img class="arrow-botton"
                      src="/assets/img/ArrowToRight.svg"> </button>
                </div>
              </div>
              <div *ngIf="selectedIndex===1">
                <div style="float: left;" *ngIf="selectedIndex===1 && group.value==='unselected'">
                  <div class="included">
                    <span><a [routerLink]="['/home-removals/what-is-included']">What's included in the removal
                        service?</a></span>
                  </div>
                </div>
                <div class="inputButtonReturn fss-button-padding-return" style="float: left;"
                  *ngIf="selectedIndex===1 && group.value==='unselected'">
                  <div class="clear-transformation">
                    <button type="submit" (click)=previousStep()> Return to homepage <img class="new-button"
                        src="/assets/svg/To homepage icon (1).svg"></button>
                  </div>
                </div>
                <div style="text-align: center" *ngIf="selectedIndex===1 && group.value==='selected'">
                  <div class="inputButtonReturn fss-button-padding-return" style="text-align: center"
                    >
                    <div class="clear-transformation">
                      <button type="submit" (click)=previousStep()> Return to homepage <img class="new-button"
                          src="/assets/svg/To homepage icon (1).svg"></button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-1">
          &nbsp;
        </div>
      </div>
      <br>
    </div>
    <div class="col"></div>
  </div>
</div>
<div class="container-fluid ">
  <div class="row">
    <div class="col"></div>
    <div class="col fixed-content no-gutters">
      <div class="row no-gutters padding-forms">
        <div class="col-2">
          &nbsp;
        </div>
        <div class="col-9">
          <div class="form-padding">






          </div>
        </div>
        <div class="col-1">
          &nbsp;
        </div>
      </div>
      <br>
    </div>
    <div class="col"></div>
  </div>
</div>