<!--<header>
    <div class="container-fluid ">
        <div class="row">
            <div class="col"></div>
            <div class="col fixed-content no-gutters">
                <div class="row no-gutters">
                    <div class="col-12">
                        <table>
                            <tr>
                                <td>
                                    <div class="header-align-left"><img class="header-location-icon"
                                            src="assets/img/Location.svg"> <span class="header-location-text">We cover
                                            all London boroughs</span></div>
                                </td>
                                <td class="header-table-td-right">
                                    <div class="header-align"><img class="header-location-icon-email"
                                            src="assets/img/Email.svg"><span
                                            class="header-location-text-email">london@easydave.co</span>
                                        &nbsp;&nbsp;&nbsp;<img class="header-location-icon-phone"
                                            src="assets/img/Phone.svg"><span class="header-location-text-phone"> 080
                                            0044 9988</span> </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</header>-->
<header class="page-header">
    <div class="container-fluid ">
        <div class="row">
            <div class="col"></div>
            <div class="col fixed-content no-gutters">
                <div class="row no-gutters">
                    <div class="col-12">
                        <table style="margin-top:0.4rem;">
                            <tr>
                                <td>
                                    <div class="header-align-left">
                                        <a class="header-email-link header-location-text" href="" style="cursor: default;"
                                            
                                        >
                                            <div class="inline">
                                                <div class="inline header-location-icon"
                                                    [inlineSVG]="'assets/img/Location (gold).svg'">
                                                </div>
                                            </div>
                                            <div class="header-location-text" style="margin-left:0.3rem;">
                                                We cover all London boroughs</div>

                                        </a>
                                    </div>

                                </td>
                                <td class="header-table-td-right">
                                    <div class="header-align"><a class="header-email-link header-location-text-email"
                                            href="mailto:london@easydave.co" >
                                            <div class="inline">

                                                <div class="header-location-icon-email" style="padding-top:0.06rem"
                                                    [inlineSVG]="'assets/img/Email (gold).svg'">
                                                </div>
                                            </div>
                                            <div class="inline header-location-text-email "
                                                style="padding-left:0.3rem;">
                                                london@easydave.co</div>

                                        </a><a style="margin-left:1.3rem;" href="tel:020 3305 5572">
                                            <div class="inline">

                                                <div class="header-location-icon-phone"
                                                    [inlineSVG]="'assets/img/Phone (gold).svg'"></div>
                                            </div>
                                            <div class="inline header-location-text-phone "
                                                style="padding-left:0.3rem;">020
                                                3305 5572</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</header>
<div class="innerpage">
    <router-outlet #outlet="outlet"></router-outlet>
</div>
<!--<footer>
    <div class="container-fluid ">
        <div class="row">
            <div class="col"></div>
            <div class="col fixed-content no-gutters">
                <div class="row no-gutters">
                    <div class="col-12">
                        <table>
                            <tr>
                                <td class="width1">
                                    <div class="services-padding"><span class="footer-services-text">Our Services</span>
                                    </div>
                                </td>
                                <td class="width2">
                                    <div class="services-links-padding">
                                        <a class="footer-services-link ">Short Let Management</a> /
                                        <a class="footer-services-link ">Home Cleaning</a> /
                                        <a class="footer-services-link ">Home Removals</a>
                                    </div>
                                </td>
                                <td class="width3 ">
                                    <div class="trustpilot"><img class="trustpilot-icon"
                                            src="assets/svg/Trustpilot (1).svg"> </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="width1">
                                    <div class="services-area-padding center"><span
                                            class="footer-services-text">Area<br>Coverage</span></div>
                                </td>
                                <td class="width2">
                                    <div class="services-area-text-padding">
                                        <span class="area">Angel, Balham, Battersea, Brixton, Canary Wharf, Clapham,
                                            Dalston, Earis Court, Finsbury Park, Hoxton, Knightsbridge, More
                                            locations... </span>
                                    </div>
                                </td>
                                <td class="width3">

                                    <div class="footer-align-center">
                                        <a href="">
                                            <div class="footer-social-icons"
                                                [inlineSVG]="'assets/svg/LinkedIn (pink).svg'"></div>
                                        </a>
                                        <a href="">
                                            <div class="footer-social-icons"
                                                [inlineSVG]="'assets/svg/Facebook (pink).svg'"></div>
                                        </a>
                                        <a href="">
                                            <div class="footer-social-icons"
                                                [inlineSVG]="'assets/svg/Instagram (pink).svg'"></div>
                                        </a>
                                        <a href="">
                                            <div class="footer-social-icons"
                                                [inlineSVG]="'assets/svg/Twitter (pink).svg'"></div>
                                        </a>
                                    </div>

                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td class="footer-td-logo"><img class="footer-ed-logo"
                                        src="assets/svg/EasyDave Logo + Slash.svg"></td>
                                <td class="width2">
                                    <p class="footer-ed-text">Easy Dave Ltd. is a limited company registered in
                                        England<br>and Wales.
                                        Registered number: 1171333<br>Registered addressL 130 Old Street, London, EC1V
                                        9DB</p>
                                </td>
                                <td class="table-td-center">
                                    <div class="footer-align">
                                        <img class="footer-ed-logo" src="assets/svg/Become a Professional (gold).svg">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td class="width-links">
                                    <div class="footer-links">
                                        <a class="footer-link">Terms and Conditions</a>
                                        <a class="footer-link">Privacy Policy</a>
                                        <a class="footer-link">Cookies Policy</a>
                                    </div>
                                </td>
                                <td class="width-love">
                                        <div class="">
                                                <img class="footer-love-logo" src="assets/svg/Made with Love in London.svg">
                                            </div>
                                </td>
                                <td class="table-td-left">
                                        <div class="footer-copy-block">
                                                <span class="footer-copy">Easy Dave Limited &copy; 2019 All rights reserved.</span>
                                               
                                               
                                            </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>
            <div class="col"></div>
        </div>
        
    </div>
</footer>-->
<footer>
    <div class="container-fluid ">
        <div class="row">
            <div class="col"></div>
            <div class="col fixed-content no-gutters">
                <div class="row no-gutters">
                    <div class="col-12">
                        <table>
                            <tr>
                                <td class="width1">
                                    <div class="services-padding"><span class="footer-services-text">Our Services</span>
                                    </div>
                                </td>
                                <td class="width2">
                                    <div class="services-links-padding">
                                        <a class="footer-services-link underline disabled">Rental Management</a> <span
                                            class="gold-slash gold-color" style="margin-left: 0.8rem;">/</span>
                                        <a class="footer-services-link underline" style="margin-left: 0.67rem;">Home
                                            Removals</a> <span class="gold-slash gold-color"
                                            style="padding-left: 0.6rem;">/</span>
                                        <a class="footer-services-link underline disabled" style="margin-left: 0.7rem;">Home Cleaning</a>
                                    </div> 
                                </td>
                                <td class="width3 ">
                                    <div class="trustpilot"><img class="trustpilot-icon"
                                            src="assets/svg/Trustpilot (1).svg"> </div>
                                </td>
                            </tr>

                        </table>
                        <table>
                            <tr>
                                <td class="footer-td-logo"><img class="footer-ed-logo"
                                        src="assets/svg/EasyDave Logo + Slash.svg"></td>
                                <td class="width2">
                                    <p class="footer-ed-text">Easy Dave Ltd. is a limited company registered in
                                        England<br>and Wales.
                                        Registered number: 11711333.<br>Registered address: 130 Old Street, London, EC1V
                                        9BD.</p>
                                </td>
                                <td class="table-td-center">
                                    <div class="footer-align">
                                        <img class="footer-ed-logo" src="assets/svg/Become a Professional (gold).svg">
                                    </div>
                                </td>
                                <td class="width3">

                                    <div class="footer-align-center">
                                        <a href="">
                                            <div class="footer-social-icons"
                                                [inlineSVG]="'assets/svg/LinkedIn (pink).svg'"></div>
                                        </a>
                                        <a href="">
                                            <div class="footer-social-icons"
                                                [inlineSVG]="'assets/svg/Facebook (pink).svg'"></div>
                                        </a>
                                        <a href="">
                                            <div class="footer-social-icons"
                                                [inlineSVG]="'assets/svg/Instagram (pink).svg'"></div>
                                        </a>
                                        <a href="">
                                            <div class="footer-social-icons"
                                                [inlineSVG]="'assets/svg/Twitter (pink).svg'"></div>
                                        </a>
                                    </div>
                                    <div class="becomeapro">Become a Professional</div>

                                </td>
                            </tr>
                        </table>
                        <div
                            style="border-bottom: 1px solid rgb(228, 147, 140);padding-bottom: 1.219rem;width:98%;height:2px;	">

                        </div>
                        <table>
                            <tr>
                                <td class="width-links">
                                    <div class="footer-links">
                                        <a class="footer-link">Terms and Conditions</a>
                                        <a class="footer-link">Privacy Policy</a>
                                        <a class="footer-link">Cookies Policy</a>
                                    </div>
                                </td>
                                <td class="width-love">
                                    <div class="">
                                        <img class="footer-love-logo" src="assets/svg/Made with Love in London.svg">
                                    </div>
                                </td>
                                <td class="table-td-left">
                                    <div class="footer-copy-block">
                                        <span class="footer-copy">Easy Dave Limited &copy; 2019. All rights
                                            reserved.</span>


                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>

                </div>

            </div>
            <div class="col"></div>
        </div>

    </div>
</footer>