@import "./helpers";


.#{$pre}container {
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;

  width: 100%;
  height: 100%;
  padding: 30px 30px 30px;
  overflow: hidden;
  overflow-y: scroll;
  &-inner {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    height: 100%;
    width: 100%;
    //overflow-y: auto;
  }

  .new-message-form {
    padding: 30px;
    max-width: 1200px;

    .col-7 {
      margin-left: 30px;
    }

    @media #{$mxw767} {
      .row {
        flex-direction: column;
        .form-label-container {
          align-items: flex-start;
          .long-label {
            width: 100vw;
          }
        }
      }
      .col-7 {
        max-width: initial;
        margin-left: unset;
      }
      .button-row {
        flex-direction: row-reverse;
        .col-8 {
          justify-content: unset;
          max-width: none;
          margin-left: 0;
          flex: none;
          padding-right: 15px;
          .send {
            flex: none;
            max-width: none;
            width: 100%;
          }
        }
      }
    }

    .form-label {
      &-container {
        display: flex;
        align-items: center;
        padding-top: 21px;
        height: fit-content;
      }
      &-value {
        font-size: 1rem;
        line-height: 1.5;
        &.long-label {
          width: 105%;
        }
      }
    }
    .message-text {
      height: 70px;
    }
    .textarea-row {
      margin-bottom: 40px;
    }

    .col-8 {
      display: flex;
      justify-content: flex-end;
      padding-right: 0;
      margin-left: 15px;
    }

    .send {
      flex: 0 0 40%;
      max-width: 40%;
    }
  }

}
