@import "./helpers";

/* Scaffold styles
*******************************************************************************************************************************/

html,
body {
	position: relative;
	height: 100%;
	overflow: visible;
	@media #{$mxw639} {
		height: auto;
	}
}

html {
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	@include border-box-all;
}

body {
	position: relative;
	padding: 0;
	margin: 0;
	min-height: 100%;
	font-family: $font;
	font-size: $font-size;
	line-height: $line-height;
	font-weight: $lighter;
	background-color: $white;
	@include font-smoothing(on);
	text-rendering: optimizeLegibility;
	font-smooth: always;

	/* when navigation is shown, don’t allow scrolling of content */
	&.no_scroll {
		overflow: hidden;
		height: 100%;
	}
}
/* Firefox fix for overflow: hidden. Scroll bar is hidden and moves everything to the right */
@-moz-document url-prefix() {
	body.no_scroll {
		margin-right: 23px;
	}
	body.no_scroll .expanded {
		padding-right: 7px;
		background: rgba(255,255,255,.98); /* because FF no blur, reduce bg transparency */
	}
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	vertical-align: middle;
	border: none;
}

strong {
	font-weight: $bold;
}

.hidden {
	display: none !important;
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}

/* Rotation*/
.rotate-180 {
	transform: rotate(180deg);
}

.rotate-0 {
	transform: rotate(0deg)!important;
}

.container {
	width: 100%;
	padding-left: $gutter;
	padding-right: $gutter;
	margin-left: auto;
	margin-right: auto;
	max-width: $content-width;
	&_wide {
		max-width: $content-width-max;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: $content-width;
		&_wide {
			max-width: $content-width-max;
		}
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: $content-width;
		&_wide {
			max-width: $content-width-max;
		}
	}
}
