<div class="container-fluid ">
    <div class="row">
        <div class="col"></div>
        <div class="col fixed-content no-gutters">
            <div class="row no-gutters padding-forms">

                <div class="col-12">
                    <div class="center" style="margin-top:1.5rem;">

                        <span class="title gold-text"><img  class="price" src="/assets/svg/Removal price.svg" >Our prices start at just £25/hour</span>

                    </div>
                </div>

            </div>

        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col fixed-content no-gutters">
            <div class="row no-gutters padding-forms">

                <div class="col-12">
                    <div class="center" style="margin-top:1.5rem;">

                        <span class="what-included white-text text-underline-gold ">What's included in the removal
                            service?</span>

                    </div>
                </div>

            </div>

        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col fixed-content no-gutters">
            <div class="row no-gutters padding-forms">

                <div class="col-3">
                    <div class="center" style="margin-top:2.3rem;">

                        <div>
                            <span class="title gold-text" style="line-height: 1rem;">Free 48 hours<br />Cancellation
                            </span>
                        </div>
                        <div><img class="cancel-icon" src="/assets/svg/1. Free 48 Hours Cancelation.svg"></div>
                        <div style="margin-top:1rem;padding-left:0.7rem;">
                            <div class="text-border-left-golden">Free cancellation up to 48 hours<br />
                                before the scheduled move with<br />
                                no hidden fees</div>
                        </div>

                    </div>
                </div>

                <div class="col-3">
                    <div class="center" style="margin-top:2.3rem;">

                        <div>
                            <span class="title gold-text" style="line-height: 1rem;">Loading &<br />Unloading </span>
                        </div>
                        <div><img class="loading-icon" src="/assets/svg/2. Loading & Unloading.svg"></div>
                        <div style="margin-top:1rem;padding-left:0.7rem;">
                            <div class="text-border-left-golden">Our professional team will help<br />
                                you with any complexity in your<br />
                                move, from 1 mover helping you<br />
                                to load and unload your items<br />
                                up to 3 movers per van that will<br />
                                carry out your entire move</div>
                        </div>

                    </div>
                </div>
                <div class="col-3">
                    <div class="center" style="margin-top:2.3rem;">

                        <div>
                            <span class="title gold-text" style="line-height: 1rem;">Fully Insured<br />Removals</span>
                        </div>
                        <div><img class="insured-icon" src="/assets/svg/3. Fully Insured Removal.svg"></div>
                        <div style="margin-top:1.1rem;padding-left:0.7rem;">
                            <div class="text-border-left-golden">All removals are fully insured,<br />
                                including fleet insurance cover<br />
                                up to £35k and public liability<br />
                                insurance cover up to £5 million</div>
                        </div>

                    </div>
                </div>
                <div class="col-3">
                    <div class="center" style="margin-top:2.3rem;">

                        <div>
                            <span class="title gold-text" style="line-height: 1rem;">Fuel & Congestion<br />Charge
                            </span>
                        </div>
                        <div><img class="fuel-icon" src="/assets/svg/4. Fuel & Congestion Charge.svg"></div>
                        <div style="margin-top:1.3rem;padding-left:0.7rem;">
                            <div class="text-border-left-golden">Our removal service always<br />
                                includes fuel and congestion<br/>
                                charge, so there are no hidden<br/>
                            additional fees</div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="col"></div>
    </div>
    <div class="row">
            <div class="col"></div>
            <div class="col fixed-content no-gutters">
                <div class="row no-gutters padding-forms">
    
                    <div class="col-12">
                        <div class="left" style="margin-top:4rem;">
    
                            <span class="title-bottom gold-text"><img  class="info" src="/assets/svg/Info (white+darker gold).svg" >Currently, we are unable to provide packing materials, packing and unpacking services.</span>
    
                        </div>
                    </div>
    
                </div>
    
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
                <div class="col"></div>
                <div class="col fixed-content no-gutters">
                    <div class="row no-gutters padding-forms">
        
                        <div class="col-12">
                            <div class="left" style="margin-top:1rem;">
        <div style="float: left;padding-left: 0.4rem;"><img  class="info" src="/assets/svg/Info (white+darker gold).svg" ></div>
                                <div class="title-bottom-long gold-text" style="float: left;">We advise you to reserve parking for the removal van at least 1 day prior to the move. The job will be completed efficiantly only<br/>
                                if the van is parked close to your house or storage. This part of the removal is a customer's responsibillity.</div>
        
                            </div>
                        </div>
        
                    </div>
        
                </div>
                <div class="col"></div>
            </div>
</div>
<div class="container-fluid ">
    <div class="row">
        <div class="col"></div>
        <div class="col fixed-content no-gutters">
            <div class="row no-gutters padding-forms">
                <div class="col-2">
                    &nbsp;
                </div>
                <div class="col-9">
                    <div class="form-padding">






                    </div>
                </div>
                <div class="col-1">
                    &nbsp;
                </div>
            </div>
            <br>
        </div>
        <div class="col"></div>
    </div>
</div>