<div class="container-fluid ">
    <div class="row">
        <div class="col"></div>
        <div class="col fixed-content no-gutters relative ">

            <div class="ed-logo-icon" [inlineSVG]="'/assets/img/Dave.svg'"></div>

            <div class="row no-gutters ">


                <div class="col-12">
                    <div class="row no-gutters ">

                        <div class="col-11">
                            <div class="comment">
                                <div class="bubble">
                                    <div class="row no-gutters ">
                                        <div class="col-2">
                                            <div class="yhc-icon-clear">
                                                <div class="first-title shadow">I'm here</div>
                                                <div class="second-title shadow">to help you<br>with</div>
                                            </div>
                                        </div>


                                        <div class="col-4">
                                            <div class="rentalmgmt"
                                                (mouseenter)="changeText1('Available Soon');;change1TextColor('#fcd2b2')"
                                                (mouseleave)="changeText1('Rental Management');change1TextColor('#f8aabf')">
                                                <div class="yhc-icon-clear">
                                                    <div class="  service-icon"
                                                        [inlineSVG]="'/assets/img/ShortLetManagement.svg'">
                                                    </div>
                                                </div>
                                                <div class="yhc-text">
                                                    <div class="services-text-color slm-text shadow"
                                                        [style.color]="service1TextColor">{{serviceText1}}</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="yhc-icon-clear">
                                                <div class="home-removals-icon"
                                                    [inlineSVG]="'/assets/img/Home Removals (Final).svg'"></div>
                                            </div>
                                            <div class="home-removals-text"><span
                                                    class=" services-text-color hr-text white-text shadow">Home
                                                    Removals</span></div>

                                        </div>
                                        <div class="col-3">
                                            <div class="cleaningmgmt" (mouseenter)="changeText2('Available Soon');change2TextColor('#fcd2b2')"
                                            (mouseleave)="changeText2('Home Cleaning');change2TextColor('#f8aabf')">
                                                <div class="yhc-icon-clear">
                                                    <div class="home-cleaning-icon"
                                                        
                                                        [inlineSVG]="'/assets/img/HomeCleaning.svg'"></div>
                                                </div>
                                                <div class="">
                                                    <div class="services-text-color hc-text shadow"
                                                        [style.color]="service2TextColor">{{serviceText2}}</div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row no-gutters ed-padding ed-logo">

                        <div class="col-12">
                            <div class="align-left">
                                <div class="ed-icon-main" [inlineSVG]="'/assets/img/EasyDave Logo + Slash.svg'"></div>
                            </div>

                            <div class="align-left-wop typewriter-text">
                                <p class="lb shadow ">We're now open</p>
                                <p class="lbs shadow ">for pre-launch bookings</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container-fluid ">
    <div [@routeAnimations]="prepareRoute(cleaningoutlet)">
        <router-outlet #cleaningoutlet="outlet"></router-outlet>

    </div>
</div>