.content {
  /*background-color: rgb(216,92,125);*/
  padding-top: 26px;
  padding-bottom: 153px;
  min-height: 1000px;
}

.first-title {
  color: #fff;
  font-family: "TeXGyreAdventor-Italic";
  font-size: 1.36rem;
  margin-top: 0.5rem;
  padding-left: 0.3rem;
}

.second-title {
  color: #fcd2b2;
  font-family: "TeXGyreAdventor-BoldItalic";
  font-size: 1.32rem;
  margin-top: 0.1rem;
  padding-left: 0.2rem;
  line-height: 1.62rem;
}
.el-icon {
  display: inline-block;
  width: 100px;
}
.el-text {
  display: inline-block;
  width: 100px;
  height: 50px;
  font-family: "TeXGyreAdventor-Regular";
  color: #fff;
  font-weight: 100;
}
.el-email {
  display: block;
  position: relative;
}

.pl-2r {
  padding-left: 2rem;
}
.pl-21r {
  padding-left: 2.1rem;
}
.pr-16r {
  padding-right: 1.6rem;
}

.pl-1r {
  padding-left: 1rem;
}

.w-200 {
  width: 260px;
}
.pl-3r {
  padding-left: 3rem;
}

.pl-36r {
  padding-left: 3.6rem;
}

.pl-4r {
  padding-left: 4rem;
}
.align-left {
  float: left;
  padding-left: 2rem;
}

.align-right {
  float: right;
  padding-right: 3rem;
}

.align-center {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-content: center;
  text-align: center;
}

.services-icons {
  height: 2.8rem;
}

.padding-service-icons {
  padding-top: 0.9rem;
}

.e-link {
  font-size: 0.8rem;
  font-family: "TeXGyreAdventor-Regular";
  color: #fcd2b2;
}

.ed-icon-main {
  height: 6rem;
  width: 12.56rem;
  margin-left: 11.3rem;
  padding-top: 0rem;
}

.yhc-icon {
  padding-top: 1.5rem;
  height: 4.4rem;

  float: left;
}

.yhc-text {
  padding-top: 0.656rem;
  text-align: center;
}

.service-icon {
  height: 3.6rem;

  padding-top: 0.1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: not-allowed;
}

.home-cleaning-icon {
  height: 3.7rem;
  margin-left: 1.1rem;
  margin-top: -0.1rem;
  margin-right: 1.2rem;
  cursor: not-allowed;
}
.rentalmgmt {
  margin-left: 2.0rem;
  margin-right: 2.4rem;
  cursor: not-allowed;
}

.cleaningmgmt {
  
  margin-right: 2.6rem;
  cursor: not-allowed;
}

.home-removals-icon {
  height: 2.9rem;
  margin-top: 0.6rem;
  margin-left: 0.7rem;
  margin-right: 2.5rem;
}

.home-removals-text {
  padding-top: 0.4rem;
}

.slm-text {
  margin-left: -0.7rem;
}

.hc-text {
  padding-left: 0rem;
  padding-top: 0.67rem;
  text-align: center;
  width: 8.4rem;
}

.hr-text {
  padding-left: 0.8rem;
  letter-spacing: 0.02rem !important;
}

.ed-padding {
  padding-top: 0.3rem;
}
.yhc-icon-clear {
  padding-top: 0;
}
.services-text-color {
  //color: #f8aabf;
  font-size: 0.89rem;
  font-family: "TeXGyreAdventor-Bold";
  letter-spacing: 0.01rem;
  height: 17px;
}

.white-text {
  color: #fff !important;
}
.lb {
  height: 2.4rem;
  margin-bottom: 0;
  margin-left: 0.4rem;
  font-family: "TeXGyreAdventor-Italic";
  color: #fff;
  font-size: 2rem;
}

.lbs {
  margin-bottom: 0;

  font-family: "TeXGyreAdventor-BoldItalic";
  font-size: 2rem;
  color: #fdd2af;
}

.align-left-wop {
  float: left;
  padding-left: 0rem;
  letter-spacing: 0.1rem;
  padding-top: 0.5rem;
}

.padding-forms {
  padding-top: 2.8rem;
}

.location-icon {
  height: 26px;
}

.bubble {
  background-image: url("/assets/img/LongComment.svg");
  background-repeat: no-repeat;
  background-size: 786px 180px;
  background-position-y: -3px;
  width: 786px;
  height: 170px;
  /*margin-top: 20px;*/
  margin-left: 84px;
  /*border: 3px solid #fdd2af;*/
  padding-left: 30px;
  padding-top: 30px;

  
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -o-text-overflow: clip;
  text-overflow: clip;
  color: rgb(216, 92, 125);
  font-family: arial;
  position: relative;
  /* -webkit-transform:    skewX(-10deg);
      transform:    skewX(-10deg);*/
}

.comment {
  margin-left: 0;
  margin-right: 5rem;
}

// .ed-logo {

// }

.ed-logo-icon {
  height: 36.2rem;
  width: 15.78rem;
  position: absolute;
  z-index: 100;
  top: 9.2rem;
  float: left;
}

.relative {
  position: relative;
}
.typewriter {
  //font-family: Courier, monospace;
  display: inline-block;
}

.typewriter-text {
  p {
    overflow: hidden;
    white-space: nowrap;
    height: 2.6rem;
    line-height: 2.1rem;

    &.lb {
      animation: typing-first 8s steps(30, end) infinite;
    }

    &.lbs {
      animation: typing-second 8s steps(30, end) infinite
    }
  }

  &.second p {
    width: 0;
    animation-delay: 4s;
  }
}

@keyframes typing-first {
  0% { width: 0; }
  12% { width: 100%; }
  37% { width: 100%; }
  50% { width: 0; }
  100% { width: 0; }
}

@keyframes typing-second {
  0% { width: 0; }
  12% { width: 0; }
  25% { width: 100%; }
  37% { width: 0; }
  100% { width: 0; }
}
