<div class="container-fluid ">
    <div class="row">
        <div class="col"></div>
        <div class="col fixed-content no-gutters relative ">
               
                        <img class="ed-logo-icon" src="/assets/img/Dave.svg">
                
            <div class="row no-gutters ">


                <div class="col-12">
                    <div class="row no-gutters ">

                        <div class="col-11">
                            <div class="comment">
                                <div class="bubble">
                                    <div class="row no-gutters ">
                                        <div class="col-2">
                                            <div class="yhc-icon-clear"><div class="first-title shadow">I'm here</div>
                                            <div class="second-title shadow">to help you<br>with</div></div>
                                        </div>

                                        
                                        <div class="col-4">
                                            <div class="yhc-icon-clear"><img class="service-icon"
                                                    src="/assets/img/ShortLetManagement.svg"></div>
                                                    <div class="yhc-text"><span class="services-text-color slm-text shadow">Rental
                                                            Management</span></div>
                                        </div>
                                        
                                        <div class="col-3">
                                                <div class="yhc-icon-clear"><img class="home-removals-icon"
                                                        src="/assets/img/Home Removals (Final).svg"></div>
                                                        <div class="home-removals-text"><span class=" services-text-color hr-text white-text shadow">Home
                                                                Removals</span></div>
                                                                
                                            </div>
                                        <div class="col-3">
                                            <div class="yhc-icon-clear"><img class="home-cleaning-icon"
                                                    src="/assets/img/HomeCleaning.svg"></div>
                                                    <div class=""><span class="services-text-color hc-text shadow">Home
                                                            Cleaning</span></div>
                                        </div>

                                        

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row no-gutters ed-padding ed-logo">
                        
                        <div class="col-12">
                            <div class="align-left">
                                <img class="ed-icon-main" src="/assets/img/EasyDaveDash.svg">
                            </div>
                            
                            <div class="align-left-wop">
                                <p class="lb shadow">We're now open</p>
                                <p class="lbs shadow">for pre-launch booking</p>

                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container-fluid ">
<div  [@routeAnimations]="prepareRoute(cleaningoutlet)">
        <router-outlet #cleaningoutlet="outlet"></router-outlet>

</div>
</div>
